
@import "~bootstrap";

.overlay{
    display: flex;
    position:fixed;
    inset: 0;
    background-color: rgba($color: #000000, $alpha: 0.4);
}
.delete-confirmation{
    margin: auto;
    padding: 1.5rem;
    width: 300px;
    height:200px;
    background-color: white;
    border-radius: .5rem;
}
